.bg-grey {
    background-color: rgb(232, 230, 230);
    color: black;
    align-items: center;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

p {
    padding: 10px;
}

table {
    width: 100%;
}